name: Test Workflow

on:
  pull_request:
    branches:
      - main

  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
    branches:
      - main

jobs:
  test:
    name: Run tests job

    strategy:
      matrix:
        target: [default, wasm]
        store: [memory, badger, level]
        namespace: [namespace, none]
        chunk: [chunk, none]
        txn: [txn-commit, txn-discard, txn-multi, none]
        context: [txn-context, none]
        exclude:
          # level requires an additional OPFS wrapper to
          # work in the browser
          - store: level
            target: wasm
          # level only supports one transaction at a time
          # so this multiplier will always timeout
          - store: level
            txn: txn-multi

    runs-on: ubuntu-latest

    env:
      CORE_KV_MULTIPLIERS: ${{ matrix.store }},${{ matrix.namespace }},${{ matrix.chunk }},${{ matrix.context }},${{ matrix.txn }}

    steps:
      - name: Checkout code into the directory
        uses: actions/checkout@v3

      - name: Setup Go environment explicitly
        uses: actions/setup-go@v3
        with:
          go-version: "1.23"
          check-latest: true

      - name: Build dependencies
        run: |
          make deps:test-ci

      - name: Run tests
        if: ${{ matrix.target == 'default' }}
        run: make test:ci

      - name: Make executable
        if: ${{ matrix.target == 'wasm' }}
        run: chmod +x $(go env GOROOT)/lib/wasm/go_js_wasm_exec

      - name: Run WASM tests
        if: ${{ matrix.target == 'wasm' }}
        run: make test:wasm

  tests-os:
    name: Run tests job

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code into the directory
        uses: actions/checkout@v3

      - name: Setup Go environment explicitly
        uses: actions/setup-go@v3
        with:
          go-version: "1.21"
          check-latest: true

      - name: Build dependencies
        run: |
          make deps:test-ci

      - name: Run tests
        run: make test:ci
